<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
    <link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.css">
    <link rel="stylesheet" href="/stylesheets/fonts.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="//cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/moment.js/2.16.0/moment-with-locales.min.js"></script>
    <script src="/javascripts/app.js"></script>
</head>
<body>

    <div class="index-nav">
        <nav class="clearfix">
            <div class="pull-left logo">
                <h1><a href="/">Blog</a></h1>
            </div>
            <div class="pull-right menu-list">
                <a href="/archive">存档</a>
                <a href="/tags">标签</a>
                <% if (user) { %>
                <a href="/upload">上传图片</a>
                <a href="/post">发表</a>
                <a href="/logout">登出</a>
                <% } %>
                <a href="javascript:;" class="search-icon" id="search_btn"><span class="glyphicon glyphicon-search"></span></a>
                <a href="/about">关于</a>
            </div>
        </nav>
    </div>
    <div id="searchForm" class="search-form">
        <form action="/search" method="GET">
            <input type="text" name="keyword" placeholder="SEARCH" class="search">
            <a href="javascript:;"><span class="glyphicon glyphicon-search"></span></a>
        </form>
    </div>
    <div class="main-body">
        <% if (success) { %>
          <div><%= success %></div>
        <% } %>
        <% if (error) { %>
          <div><%= error %> </div>
        <% } %>
