<%- include header %>
<form method="post">
    <p>用户名：<br><input type="text" name="name"/></p>
    <p>密码：<br><input type="password" name="password"/></p>
    <p><input type="submit" value="登录"/></p>
</form>
<a href="/login/github">使用github登录</a>
<%- include footer %>